html {
    width: 600px;
}

.container {
    margin: 0.7rem;
    padding-bottom: 0.7rem;
    border-bottom: 0.1rem solid #000;
}

.container-items {
    display: block;
    font-size: 1rem;
    padding: 0.1rem 0.1rem;
}

.container-password {
    display: flex;
    font-size: 1rem;
    padding: 0.1rem 0.1rem;
    justify-content: space-between;
}